<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<dict>
	<key>CLIENT_ID</key>
	<string>287190547715-36e5satj5s084m5ucvk3egb3i2gpfefh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287190547715-36e5satj5s084m5ucvk3egb3i2gpfefh</string>
	<key>API_KEY</key>
	<string>AIzaSyBtnIEodiE5MTy4mzvbLoq1m27AFfIO8js</string>
	<key>GCM_SENDER_ID</key>
	<string>287190547715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.InterfaceBuilderBasics.GoldenYearsGather</string>
	<key>PROJECT_ID</key>
	<string>goldenyearsfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>goldenyearsfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287190547715:ios:117ae619930ee0614ffd36</string>
</dict>
</plist>
